body {
    background-color: #f3e5d0;
    color: #4b2e1e;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    background-color: #fff8ef;
    border: 2px solid #c8a27a;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(75, 46, 30, 0.25);
}

h1 {
    color: #5c3a24;
    font-weight: bold;
}

p {
    color: #6f472c;
    font-size: 18px;
}

.btn-cafe {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    transition: 0.3s;
}

.btn-cafe:hover {
    background-color: #6f472c;
    color: white;
}

#resultado {
    background-color: #ead2b6;
    color: #4b2e1e;
    border-radius: 12px;
    padding: 15px;
    min-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
#palabras{
    background-color: #f7ead9;
    color: #4b2e1e;
    border: 1px solid #c8a27a;
    border-radius: 12px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}
footer {
    color: #6f472c;
    font-size: 15px;
}

kbd {
    background-color: #8b5e3c;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}